<div class="main-container" id="main" style="width:99%">
 <iframe src="/render_drug?chart=1" width="100%" height="70%" frameborder="0">
 </iframe>
</div>
<div class="main-container" id="main" style="width:99%">
 <iframe src="/render_drug?chart=2" width="100%" height="70%" frameborder="0">
 </iframe>
</div>
<div class="main-container" id="main" style="width:99%">
 <iframe src="/render_drug?chart=3" width="100%" height="70%" frameborder="0">
 </iframe>
</div>
<div class="main-container" id="main" style="width:99%">
 <iframe src="/render_drug?chart=4" width="100%" height="70%" frameborder="0">
 </iframe>
</div>
<div class="main-container" id="main" style="width:99%">
 <iframe src="/render_drug?chart=5" width="100%" height="70%" frameborder="0">
 </iframe>
</div>

